* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: background 1s;
}
html {
  --background: #fff;
  --text: #37474f;
  --secondary-background: #dee4e7;
  --akzent: #222222;
}
html[data-theme="dark"] {
  --background: #222222;
  --text: #dee4e7;
  --secondary-background: #333;
  --akzent: #dee4e7;
}
body {
  background: var(--background);
  color: var(--text);
  background-image: url(../image/Country-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.themeswitch {
  background: var(--akzent);
}
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.themeswitch {
  position: absolute;
  left: 1vw;
  top: 1vw;
  padding: 1em;
  border-radius: 50%;
  border: 0;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.themeswitch:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* Todo - Country */
.container {
  background-color: #ffffff;
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}
.search-wrapper button {
  font-size: 1em;
  background-color: #3d64e6;
  color: #ffffff;
  padding: 0.8em 0;
  border: none;
  border-radius: 1.5em;
}
.search-wrapper button:hover{
  cursor: pointer;
  background-color: #ff465a;
}
.search-wrapper input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
}
.search-wrapper input:hover {
  cursor: pointer;
  border-bottom: 2px solid #ff465a;
}
#result {
  margin-top: 1.25em;
}
.container .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}
.container h2 {
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}
.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}
.container h4 {
  display: inline;
  font-weight: 500;
  color: #222a43;
}
.container span {
  color: #5d6274;
}
.container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #ff465a;
}

@media only screen and (max-width:767px) {
  .container {
    width: 320px;
    padding: 20px;
  }
  .search-wrapper button {
    font-size: 14px;
    padding: 5px;
  }
  .search-wrapper button:hover{
    cursor: pointer;
    background-color: #ff465a;
  }
  .search-wrapper input {
    padding: 1px;
  }
  #result {
    margin-top: 1.25em;
  }
  .container h4 {
    font-size: 12px;
  }
  .container span {
    color: #5d6274;
    font-size: 14px;
  }
}